<div class="listWrapper">
	<h4>Listings in {{listCtrl.city}}</h4>
	<div class="searchWrapper"><label>Search: <input ng-model="searchText"></label></div>
	<div class="restaurant-wrapper" ng-repeat="restaurant in listCtrl.restaurants | filter:searchText">
		<div class="restaurant-cuisine">{{restaurant.restaurant.cuisines}}</div>
		<div class="image-wrapper">
			<img src="/angular_poc/images/default.gif">
		</div>
		<div class="details-wrapper">
			<div class="restaurant-name-wrap"><span>{{restaurant.restaurant.name}}</span></div>
			<div class="rating-wrap" style="background-color:{{restaurant.restaurant.userRating.rating_color}}">{{listCtrl.getRating(restaurant.restaurant.userRating)}}</div>
			<div class="cost-for-two">
				<span>Average cost for two : {{restaurant.restaurant.currency}} {{restaurant.restaurant.average_cost_for_two}}</span>
			</div>
			<div class="address">{{restaurant.restaurant.location.address}}</div>
		</div>
	</div>
</div>