<div class="listWrapper">
	<div class="header">
		<h4>Listings in {{listCtrl.city}}</h4>
		<div class="searchWrapper">
			<label>Search: <input ng-model="searchText"></label>
			<button ng-click="listCtrl.addRestaurant()">Add Restaurant</button>
		</div>
	</div>
	<div class="restaurant-wrapper">
		<div class="restaurant-box" ng-repeat="restaurant in listCtrl.restaurants">
			<div class="restaurant-cuisine">{{restaurant.restaurant.cuisines}}</div>
			<div class="image-wrapper">
				<img src="/angular_poc/images/default.gif">
			</div>
			<div class="details-wrapper">
				<div class="restaurant-name-wrap"><span>{{restaurant.restaurant.name | filter:searchText}}</span></div>
				<div class="rating-wrap" style="background-color:{{restaurant.restaurant.userRating.rating_color}}">{{listCtrl.getRating(restaurant.restaurant.userRating)}}</div>
				<div class="cost-for-two">
					<span>Average cost for two : {{restaurant.restaurant.currency}} {{restaurant.restaurant.averageCostForTwo}}</span>
				</div>
				<div class="address">{{restaurant.restaurant.location.address}}</div>
			</div>
		</div>	
	</div>
</div>